// Channels list

.platform-win .sidebar_e031be {
    border-top-left-radius: 0;
    border-top-right-radius: 8px;
}

// Header
.headerContent__6fcc7 {
    // Community server icon
    @at-root .guildIconV2Container_ddc448 {
        margin-right: 0;
        margin-left: 8px;
    }

    // Server dropdown
    @at-root .button__84b6b {
        margin-left: 0;
        margin-right: 4px;
    }
}

// Boosting goal
.container_bc43c1 {
    padding-right: 8px;
    padding-left: 0;

    @at-root .progressBarContainer_e11b41 {
        margin-right: 8px;
        margin-left: auto;
    }
}

// Channel
.wrapper__612a5 {
    margin-left: 0;
    margin-right: 8px;

    // Channel icon
    @at-root .iconContainer__6a580 {
        margin-right: 0;
        margin-left: 8px;
    }

    // Voice channel user limit
    @at-root .total_c01838 {
        padding-right: 0;
        padding-left: 6px;

        &::after {
            left: unset;
            right: -8px;
            border-right: 0;
            border-left: 8px solid var(--background-tertiary);
        }
    }
}

// User area
.avatarWrapper__500a6 {
    margin-right: 0;
    margin-left: 8px;

    @at-root .withTagAsButton_e22174 .nameTag__77ab2,
        .withTagless__058f8 .nameTag__77ab2 {
        padding-left: unset;
        padding-right: 8px;
    }
}
