// Members list

// Member
.member_aa4760 {
    margin-left: 0;
    margin-right: 8px;

    // Avatar
    @at-root .avatar__6337f {
        margin-right: 0;
        margin-left: 12px;

        & .svg_a6bf1c {
            left: 0;
        }
    }
}
