// Members list

// Member
.member_a31c43 {
    margin-left: 0;
    margin-right: 8px;

    // Avatar
    @at-root .avatar_e9f61e {
        margin-right: 0;
        margin-left: 12px;

        & .svg_c51b4e {
            left: 0;
        }
    }
}
