@use "../testing" as *;

// Messages
.wrapper_a62503 {
    padding-right: unset;
    padding-left: var(--custom-message-margin-horizontal);

    &.cozy_f5c119 {
        padding-left: unset;
        padding-right: var(--custom-message-margin-left-content-cozy) !important;
    }
    &.compact_eda3c8 {
        padding-left: unset;
        padding-right: var(--custom-message-margin-compact-indent) !important;
    }

    // Messages cont.
    @at-root .message_ccca67 {
        padding-left: 48px !important;
    }

    // Mentioned messages
    @at-root .mentioned_fa6fd2 {
        &::before {
            left: unset;
            right: 0;
        }
    }

    // Replied to message preview
    @at-root .repliedMessage__636d2 {
        direction: rtl;
        gap: var(--custom-message-meta-space);

        .compact_eda3c8 & {
            --text-indent: calc((var(--custom-message-margin-compact-indent) - 1rem) * -1);
            margin-left: unset;
            padding-left: unset;
            padding-right: var(--custom-message-reply-indent);
        }

        &::before {
            right: calc(-1 * (0.5 * var(--avatar-size) + var(--gutter)));
            left: 100%;
            margin-right: -1px;
            margin-left: var(--reply-spacing);
            border-right-width: var(--spine-width);
            border-left-width: 0;
            border-top-right-radius: 6px;
            border-top-left-radius: 0;

            .compact_eda3c8 & {
                left: calc(100% - var(--custom-message-reply-indent));
                right: calc(-1 * (0.5 * var(--avatar-size) + var(--gutter)));
            }
        }

        @at-root .threadMessageAccessoryAvatar__27333,
            .replyAvatar__4ba85,
            .replyBadge__37a84,
            .executedCommandAvatar_cfc856,
            .repliedMessage__636d2 .username__0b0e7,
            .repliedMessage__636d2 .roleDot_f86e49,
            .executedCommand__4fb1a .username__0b0e7,
            .executedCommand__4fb1a .applicationName_d60e66,
            .executedCommand__4fb1a .commandName_fd97e7,
            .threadMessageAccessory_ef0459 .username__0b0e7 {
            margin-right: 0;
        }
    }

    // Message text content
    @at-root .contents_d3ae0d {
        .compact_eda3c8 & {
            margin-left: unset;
            margin-right: calc(-1 * var(--custom-message-margin-compact-indent));
            padding-left: unset;
            padding-right: var(--custom-message-margin-compact-indent);
            @include test;
        }

        // Avatar (cosy mode only)
        @at-root .avatar__08316 {
            left: unset;
            right: var(--custom-message-margin-horizontal);
        }

        // Header
        @at-root .header__6a14d {
            .cozy_f5c119 & {
                direction: rtl;
                @include test;
            }

            // Timestamp
            @at-root .cozy_f5c119 .timestamp_c79dd2.alt__6c563,
                .compact_eda3c8 .timestamp_c79dd2 {
                margin-right: unset;
                margin-left: var(--custom-message-meta-space);
            }

            @at-root .roleDot_f86e49,
                .cozy_f5c119 .headerText_bd68ec,
                .compact_eda3c8 .headerText_bd68ec {
                margin-right: unset;
                margin-left: 0.25rem;
            }

            @at-root .timestampInline__430cf {
                margin-left: unset;
                margin-right: 0.25rem;
            }
        }

        // Actual content
        @at-root .cozy_f5c119 .messageContent_abea64 {
            margin-left: unset;
            margin-right: calc(-1 * var(--custom-message-margin-left-content-cozy));
            padding-left: unset;
            padding-right: var(--custom-message-margin-left-content-cozy);
            @include test;

            // Block quote
            @at-root .blockquoteContainer__66aaa {
                direction: rtl;
            }
        }
    }

    // Message attachment content
    @at-root .container__62863 {
        direction: rtl;

        // Embed links
        @at-root .embedFull__14919 {
            border-left: unset;
            border-right: 4px solid var(--background-tertiary);

            @at-root .embedSuppressButton__5aae1 {
                right: unset;
                left: -20px;
            }
        }
    }

    // Chat message actions
    @at-root .buttonContainer__6de7e {
        right: unset;
        left: 0;

        @at-root .container__2f489 {
            direction: rtl;
            right: unset;
            left: 0;
            padding-right: 32px;
            padding-left: 14px;
        }
    }
}

// Chat box
.sansAttachButton__5f863 {
    padding-left: unset;
    padding-right: 16px;

    // Attach button
    @at-root .attachButton__5f6dc {
        margin-left: unset;
        margin-right: -16px;
    }

    // Typing area
    @at-root .slateTextArea_b19976 {
        padding-right: 0;
        padding-left: 10px;
        left: 10px;
        right: 0;
    }

    // Buttons
    @at-root .webkit__8d35a .buttons__7ecff {
        margin-right: unset;
        margin-left: -6px;
    }
}
