@use "../testing" as *;

// Messages
.wrapper_ec86aa {
    padding-right: unset;
    padding-left: var(--custom-message-margin-horizontal);

    &.cozy_ec86aa {
        padding-left: unset;
        padding-right: var(--custom-message-margin-left-content-cozy) !important;
    }
    &.compact_ec86aa {
        padding-left: unset;
        padding-right: var(--custom-message-margin-compact-indent) !important;
    }

    // Messages cont.
    @at-root .message_d5deea {
        padding-left: 48px !important;
    }

    // Mentioned messages
    @at-root .mentioned_d5deea {
        &::before {
            left: unset;
            right: 0;
        }
    }

    // Replied to message preview
    @at-root .repliedMessage_ec86aa {
        direction: rtl;
        gap: var(--custom-message-meta-space);

        .compact_ec86aa & {
            --text-indent: calc((var(--custom-message-margin-compact-indent) - 1rem) * -1);
            margin-left: unset;
            padding-left: unset;
            padding-right: var(--custom-message-reply-indent);
        }

        &::before {
            right: calc(-1 * (0.5 * var(--avatar-size) + var(--gutter)));
            left: 100%;
            margin-right: -1px;
            margin-left: var(--reply-spacing);
            border-right-width: var(--spine-width);
            border-left-width: 0;
            border-top-right-radius: 6px;
            border-top-left-radius: 0;

            .compact_ec86aa & {
                left: calc(100% - var(--custom-message-reply-indent));
                right: calc(-1 * (0.5 * var(--avatar-size) + var(--gutter)));
            }
        }

        @at-root .threadMessageAccessoryAvatar_ec86aa,
            .replyAvatar_ec86aa,
            .replyBadge_ec86aa,
            .executedCommandAvatar_ec86aa,
            .repliedMessage_ec86aa .username_ec86aa,
            .repliedMessage_ec86aa .roleDot_ec86aa,
            .executedCommand_ec86aa .username_ec86aa,
            .executedCommand_ec86aa .applicationName_d60e66,
            .executedCommand_ec86aa .commandName_ec86aa,
            .threadMessageAccessory_ec86aa .username_ec86aa {
            margin-right: 0;
        }
    }

    // Message text content
    @at-root .contents_ec86aa {
        .compact_ec86aa & {
            margin-left: unset;
            margin-right: calc(-1 * var(--custom-message-margin-compact-indent));
            padding-left: unset;
            padding-right: var(--custom-message-margin-compact-indent);
            @include test;
        }

        // Avatar (cosy mode only)
        @at-root .avatar_ec86aa {
            left: unset;
            right: var(--custom-message-margin-horizontal);
        }

        // Header
        @at-root .header_ec86aa {
            .cozy_ec86aa & {
                direction: rtl;
                @include test;
            }

            // Timestamp
            @at-root .cozy_ec86aa .timestamp_ec86aa.alt_ec86aa,
                .compact_ec86aa .timestamp_ec86aa {
                margin-right: unset;
                margin-left: var(--custom-message-meta-space);
            }

            @at-root .roleDot_ec86aa,
                .cozy_ec86aa .headerText_ec86aa,
                .compact_ec86aa .headerText_ec86aa {
                margin-right: unset;
                margin-left: 0.25rem;
            }

            @at-root .timestampInline_ec86aa {
                margin-left: unset;
                margin-right: 0.25rem;
            }
        }

        // Actual content
        @at-root .cozy_ec86aa .messageContent_ec86aa {
            margin-left: unset;
            margin-right: calc(-1 * var(--custom-message-margin-left-content-cozy));
            padding-left: unset;
            padding-right: var(--custom-message-margin-left-content-cozy);
            @include test;

            // Block quote
            @at-root .blockquoteContainer_d6076c {
                direction: rtl;
            }
        }
    }

    // Message attachment content
    @at-root .container_b558d0 {
        direction: rtl;

        // Embed links
        @at-root .embedFull_ad0b71 {
            border-left: unset;
            border-right: 4px solid var(--background-tertiary);

            @at-root .embedSuppressButton_ad0b71 {
                right: unset;
                left: -20px;
            }
        }
    }

    // Chat message actions
    @at-root .buttonContainer_ec86aa {
        right: unset;
        left: 0;

        @at-root .container_a3b500 {
            direction: rtl;
            right: unset;
            left: 0;
            padding-right: 32px;
            padding-left: 14px;
        }
    }
}

// Chat box
.sansAttachButton_d0696b {
    padding-left: unset;
    padding-right: 16px;

    // Attach button
    @at-root .attachButton_d0696b {
        margin-left: unset;
        margin-right: -16px;
    }

    // Typing area
    @at-root .slateTextArea_e52116 {
        padding-right: 0;
        padding-left: 10px;
        left: 10px;
        right: 0;
    }

    // Buttons
    @at-root .webkit__8d35a .buttons_d0696b {
        margin-right: unset;
        margin-left: -6px;
    }
}
