// Server list

// Flip pill to right side
:is(.pill_a5ad63, .pill_db6521) {
    left: unset;
    right: 0;

    @at-root .item_fd07a3 {
        border-radius: 4px 0 0 4px;
        margin-left: 4px;
    }
}
